@charset "utf-8";
/* CSS Document */
aside {
  color: #333;
  padding: 100px 0;
  text-align: center;
  text-shadow: 0 1px #fff;
}

aside .header {
  padding: 0 10px;
}

aside h2 {
  margin: 15px 0;
  font-size: 24px;
  font-weight: normal;
}

aside p {
  color: #555;
  margin: 10px 0;
  font-size: 16px;
  line-height: 25px;
}

aside .action a {
  background-color: #222;
  color: #fff;
  border-bottom: 1px solid #333;
  margin-top: 15px;
  padding: 15px 20px;
  text-transform: uppercase;
  text-shadow: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}
aside .action i {
  margin: 0 5px;
}

aside .tile {
  margin: 40px 0 0;
  padding-bottom: 0;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
}

aside .tile table {
  width: auto;
  display: inline-block;
}
aside .tile table tr {
  vertical-align: top;
}
aside .tile table tr td:first-child {
  margin-left: 10px;
}
aside .tile table tr td {
  background-color: #fff;
  box-shadow: 0 4px 4px #ccc;
  margin: 0 5px 0;
  min-width: 300px;
  max-width: 300px;
  text-align: left;
  display: inline-block;
  white-space: normal;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

aside .tile .thumbnail {
  position: relative;
  background-color: #fff;
  background-image: url("../thumbnail.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-bottom: solid thin #ddd;
  width: 100%;
  height: 200px;
}
aside .tile .thumbnail sub {
  position: absolute;
  bottom: -25px;
  right: 15px;
  border-radius: 100%;
  box-shadow: 0 1px 0 #222;
}
aside .tile .thumbnail sub a {
  position: relative;
  background-color: #0093dd;
  ackground-color: #ff2d20;
  color: #fff;
  border-radius: 100%;
  width: 46px;
  height: 46px;
  display: block;
}
aside .tile .thumbnail sub a:hover {
  background-color: #333;
}
aside .tile .thumbnail sub i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: none;
  font-size: 14px;
  line-height: 0;
}

aside .tile article {
  min-height: 90px;
}

aside .tile .activity {
  margin: 10px 15px 5px;
}
aside .tile .activity var {
  margin: 0 10px 0 0;
}
aside .tile .activity i,
aside .tile .activity p {
  color: #333;
  font-size: 14px;
}
aside .tile .activity i {
  vertical-align: middle;
}
aside .tile .activity p {
  margin: 0;
  margin-left: 4px;
  display: inline-block;
}

aside .tile .headline {
  padding: 0 15px;
}
aside .tile .headline a {
  font-size: 20px;
  color: #333;
  text-align: justify;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: "gill_sans_c";
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
}
aside .tile .headline a:hover,
aside .tile .headline a:active {
  text-decoration: underline;
}
