@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: "trebuchet_ms";
  src: url("../wf/trebuchet_ms.eot");
  src: url("../wf/trebuchet_ms.eot?#iefix") format("embedded-opentype"),
    url("../wf/trebuchet_ms.woff") format("woff"),
    url("../wf/trebuchet_ms.ttf") format("truetype");
}
@font-face {
  font-family: "trebuchet_ms_bold";
  src: url("../wf/trebuchet_ms_bold.eot");
  src: url("../wf/trebuchet_ms_bold.eot?#iefix") format("embedded-opentype"),
    url("../wf/trebuchet_ms_bold.woff") format("woff"),
    url("../wf/trebuchet_ms_bold.ttf") format("truetype");
}
@font-face {
  font-family: "gill_sans_c";
  src: url("../wf/gill_sans_c.eot");
  src: url("../wf/gill_sans_c.eot?#iefix") format("embedded-opentype"),
    url("../wf/gill_sans_c.woff2") format("woff2"),
    url("../wf/gill_sans_c.woff") format("woff"),
    url("../wf/gill_sans_c.ttf") format("truetype");
}
@font-face {
  font-family: "gill_sans_c_bold";
  src: url("../wf/gill_sans_c_bold.eot");
  src: url("../wf/gill_sans_c_bold.eot?#iefix") format("embedded-opentype"),
    url("../wf/gill_sans_c_bold.woff2") format("woff2"),
    url("../wf/gill_sans_c_bold.woff") format("woff"),
    url("../wf/gill_sans_c_bold.ttf") format("truetype");
}

* {
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-family: "trebuchet_ms";
}

.svgg {
  margin: 0;
  padding: 0;
  line-height: 0;
  display: inline-block;
}
.svgg img {
  margin: 0;
  padding: 0;
  width: 100px;
  font-size: 38px;
  font-weight: bolder;
  line-height: 0.9;
  display: inline-block;
  vertical-align: middle;
  cursor: default;
}
.svgg sub {
  margin-bottom: 8px;
  margin-left: -5px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  visibility: hidden;
}

.sabb a {
  background-color: transparent;
}

.fabb {
  display: none;
}

.overlay-fill {
  background-color: #e11;
  min-height: 50px;
}


svgg,
fabb,
eader,
av,
ain .card,
ain .pager,
side,
ooter {
  display: none;
}
